root = true

[*.{js,mjs,cjs,json,html,css,md,svg,yml,yaml,toml,txt,sh,ps1}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[package-lock.json]
indent_size = 2
